attrs==21.2.0
beautifulsoup4==4.13.3
boto3==1.36.23
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==4.0.0
colorama==0.4.4
ConfigParser==7.1.0
cryptography==3.4.8
Cython==3.0.12
dl==0.1.0
docutils==0.21.2
filelock==3.6.0
h2==4.2.0
HTMLParser==0.0.2
importlib_resources==6.5.2
ini2toml==0.15
ipython==8.12.3
ipywidgets==8.1.5
jnius==1.1.0
js==1.0
keyring==24.3.1
keyring==23.5.0
matplotlib==3.10.0
mod==0.3.0
path.py==12.5.0
Pillow==9.0.1
Pillow==11.1.0
pkg1==0.0.3
pyodide==0.0.2
pyOpenSSL==21.0.0
pyOpenSSL==25.0.0
pytest==8.3.4
redis==5.2.1
simplejson==3.20.1
Sphinx==8.2.0
thread==2.0.5
tomli_w==1.2.0
trove_classifiers==2024.4.10
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
xx==3.3.2
zstandard==0.23.0
